In [9]:
import requests, pandas as pd, lxml.html as lh
from pyquery import PyQuery

In [10]:
keyword = '米森 蔓越莓麥片'
payload = {
    'p': keyword,
    'kw': keyword,
    'cid': 0,
    'clv': 0,
    'sort': 'p',
}
r = requests.get('https://tw.search.buy.yahoo.com/search/shopping/product', payload)

In [11]:
r.raise_for_status()

In [12]:
S = PyQuery(r.text)

In [13]:
data = S("#srp_result_list > div.yui3-u").map(lambda i, e: {
    'name': PyQuery(e)('div.srp-pdtitle > a').text(),
    'price': PyQuery(e)('.srp-pdprice').text()
})

In [14]:
df = pd.DataFrame(data)
df

                       name       price
0  米森Vilson 有機桃核蔓越莓麥片(450g)  活動價 $225 起